In [2]:
import pandas as pd

In [36]:
# Files to Load 
chicago_marathon_winners = "Chicago_Marathon_Winners.csv"
london_marathon_winners = "London_Marathon_Winners.csv"
ny_marathon_winners = "NY_Marathon_Winners.csv"

# Read School and Student Data File and store into Pandas Data Frames
chi_mar_data = pd.read_csv(chicago_marathon_winners, encoding="latin-1")
#chi_mar_data
lon_mar_data = pd.read_csv(london_marathon_winners, encoding="latin-1")
ny_mar_data = pd.read_csv(ny_marathon_winners, encoding="latin-1")
marathon_data_complete = pd.merge(chi_mar_data, lon_mar_data, left_on=['YEAR','Gender'], right_on = ['Year','Gender'])
del marathon_data_complete['Year']
marathon_data_complete.rename(columns = {'Winner Name_x':'Winner Name_Chicago','Winner Country_x':'Winner Country_Chicago','Time_x':'Time_Chicago','Marathon City_x':'City_Name_Chicago','Winner Name_y':'Winner Name_London','Winner Country_y':'Winner Country_London','Time_y':'Time_London','Marathon City_y':'City_Name_London'}, inplace = True)
#marathon_data_complete
marathon_data_complete_new = pd.merge(marathon_data_complete, ny_mar_data, left_on=['YEAR','Gender'], right_on = ['YEAR','Gender'])
marathon_data_complete_new
marathon_data_complete_new.rename(columns = {'Winner Name':'Winner Name_NY','Winner Country':'Winner Country_NY','Time':'Time_NY','Marathon City':'City_Name_NY'}, inplace = True)
marathon_data_complete_new

,YEAR,Winner Name_Chicago,Winner Country_Chicago,Time_Chicago,Gender,City_Name_Chicago,Winner Name_London,Winner Country_London,Time_London,City_Name_London,Winner Name_NY,Winner Country_NY,Time_NY,City_Name_NY
0,1981,Phil Coppess,USA,2:16:13,M,Chicago,Inge Simonsen,Norway,2:11:48,London,Alberto Salazar,USA,2:08:13,NY
1,1981,Phil Coppess,USA,2:16:13,M,Chicago,Dick Beardsley,USA,2:11:48,London,Alberto Salazar,USA,2:08:13,NY
2,1982,Greg Meyer,USA,2:10:59,M,Chicago,Hugh Jones,UK,2:09:24,London,Alberto Salazar,USA,2:09:29,NY
3,1983,Joseph Nzau,Kenya,2:09:44,M,Chicago,Mike Gratton,UK,2:09:43,London,Rod Dixon,New Zealand,2:08:59,NY
4,1984,Steve Jones,UK,2:08:05,M,Chicago,Charlie Spedding,UK,2:09:57,London,Orlando Pizzolato,Italy,2:14:53,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2010,Atsede Baysa,Ethiopia,2:23:40,F,Chicago,Aselefech Mergia,Ethiopia,2:22:38,London,Edna Kiplagat,Kenya,2:28:20,NY
65,2011,Ejegayehu Dibaba,Ethiopia,2:22:09,F,Chicago,Mary Keitany,Kenya,2:19:19,London,Firehiwot Dado,Ethiopia,2:23:15,NY
66,2013,Rita Jeptoo,Kenya,2:19:57,F,Chicago,Priscah Jeptoo,Kenya,2:20:15,London,Priscah Jeptoo,Kenya,2:25:07,NY
67,2017,Tirunesh Dibaba,Ethiopia,2:18:31,F,Chicago,Mary Keitany,Kenya,2:17:01,London,Shalane Flanagan,USA,2:26:53,NY
68,2019,Brigid Kosgei,Kenya,2:14:04,F,Chicago,Brigid Kosgei,Kenya,2:18:20,London,Joyciline Jepkosgei,Kenya,2:22:38,NY

In [ ]:
# Amit's code ends here

In [ ]:
# Sonal's code starts here

In [ ]:
# Sonal's code ends here

In [ ]:
# Brian's code starts here

In [ ]:
# Brian's code ends here

In [ ]:
# Olga's code starts here

In [ ]:
# Olga's code ends here